<html>
    <head>
        <title>Produtos</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
       
        header
        {
           background-color: #363636;  
           border: 2px solid white;
           padding: 2px;
           color: #ffffff;    
           text-align: center;
        }  

    </style>
    </head>
   
    <body>
     
        <div class="container-fluid">
           <header>
		       <h1>Orçamento Digital</h1>
	       </header>
           
            @RenderBody()
        </div>
    </body>
</html>