@using Inter2.Models
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<main class="col-md-12 mt-5">
    <div class="alert alert-info" role="alert">
        <strong>Bem vindo</strong>&nbsp;ao sistema AVANTI Segurança Eletrônica</span>
    </div>
</main>