@using Inter2.Models
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<style>
    /*table.table thead th {
        border-top: 1px solid #dee2e6 !important;
        border-bottom: 1px solid #dee2e6 !important;
        font-weight: normal !important;
    }
    table{
        font-size: .875rem !important;
    }*/
    .content-table 
{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    border-radius: 15px 15px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(10, 0, 0, 0.25);
    
}

.content-table thead tr
{
    background-color: #363636;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
    font-family: 'Arial';
}

.content-table th,
.content-table td
{
    padding: 12px 15px;      
}

.content-table tbody tr
{
    border-bottom: 1px solid #dddddd;
}

</style>
<!-- Modal de Adicionar Candidato -->
<div class="modal fade" id="modal_adicionar_orcamento" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel"><i class="fas fa-user-plus"></i>&nbsp;&nbsp;Orçamento</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="form_adicionar_orcamento" name="form_adicionar_orcamento" method="POST">
               <div class="modal-body">
                   <div class="container-fluid">
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="funcionario_adicionar_orcamento">Funcionário&nbsp;<span class="text-danger">*</span></label>
                                 <select class="form-control" name="IdFuncionario" id="funcionario_adicionar_orcamento" required>
                                    <option selected value="">Selecione...</option>
                                </select>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="cliente_adicionar_orcamento">Cliente&nbsp;<span class="text-danger">*</span></label>
                                <select class="form-control" name="IdCliente" id="cliente_adicionar_orcamento" required>
                                    <option selected value="">Selecione...</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <div id="carregar_produto"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-times"></i>&nbsp;&nbsp;Cancelar</button>
                    <button type="submit" class="btn btn-success"><i class="fas fa-save"></i>&nbsp;&nbsp;Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<section class="col-md-12 mt-2">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 border-bottom">
        <h6><i class="fas fa-users"></i>&nbsp;&nbsp;<span>Efetuar Orçamento</span></h6>
    </div>
    <a class="btn btn-sm btn-primary mt-4" href="" data-toggle="modal" data-target="#modal_adicionar_orcamento"><i class="fas fa-plus-circle"></i>&nbsp;Orçamento</a>
    <table class="table content-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Funcionário</th>
                <th>Cliente</th>
                <th>Status</th>
                <th>Data de Cadastro</th>
                <th>Total</th>
                <th>Opções</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Fulano</td>
                <td>Cliclano</td>
                <td>1</td>
                <td>10/02/2019</td>
                <td>100</td>
                <td>
                    <a class="btn btn-sm btn-danger" href=""><i class="fas fa-trash-alt"></i>&nbsp;Apagar</a>
                    <a class="btn btn-sm btn-warning text-white" href=""><i class="fas fa-edit"></i>&nbsp;Editar</a>
                    <a class="btn btn-sm btn-info" href=""><i class="fas fa-edit"></i>&nbsp;Detalhes</a>
                </td>
            </tr>
        </tbody>
    </table>
</section>

<script>
    /*Conteúdo carregado quando a página estiver pronta (carregada)*/
    $(document).ready(function () {
        carregarTabelaProdutos();
        carregarFuncionarios();
        carregarClientes();
    });

    $("#form_adicionar_orcamento").submit(function(e) {
        e.preventDefault();
        $.ajax({
            method: "POST",
            url: "/Orcamento/Create",
            data: $("#form_adicionar_orcamento").serialize(),
            success: function (txt) {
                $("#modal_adicionar_orcamento").modal("hide");
            },
             error: function() {
                alert("erro");
                $("#modal_adicionar_orcamento").modal("hide");
            }
        }); 
    });
    

    function calcularTotal(i, quantidade){
        var valor = $("#quantidade_produtos_"+i).val();
    }

    /*carregar tabela de produtos*/
    function carregarTabelaProdutos(){
        $.ajax({
            method: 'GET',
            url: '/Produto/ViewTable',
            dataType: 'json',
            success: function(e) {
                if (e != "") {
                    var corpo = "";
                    var cabecalho = "<table class='table table-responsive-sm' cellspacing='0'>\n" +
                                        "<thead class='text-center'>"+
                                            "<tr>"+
                                                "<th>Produto</th>"+
                                                "<th width='8%'>Quantidade</th>"+
                                                "<th>Estoque</th>"+
                                                "<th>Preço</th>"+
                                            "</tr>"+
                                        "</thead>"+
                                        "<tbody class='text-center'>";
                                            for (var i = 0; i < e.length; i++) {
                                                corpo += "<tr>"+
                                                            "<td>" 
                                                                + e[i].Nome + 
                                                                "<input name='Id' type='hidden' value='"+e[i].Id+"'>"+
                                                            "</td>"+
                                                            "<td>"+
                                                                "<input type='number' class='form-control form-control-sm contagem' name='Quantidade' id='quantidade_produtos_"+i+"' value='0' min='0'>"+
                                                            "</td>"+
                                                            "<td>" 
                                                                + e[i].QuantidadeEstoque + 
                                                                "<input name='QuantidadeEstoque' type='hidden' value='"+e[i].QuantidadeEstoque+"'>"+
                                                            "</td>"+
                                                            "<td>R$&nbsp;" 
                                                                + e[i].Preco + 
                                                                "<input name='Preco' type='hidden' value='"+e[i].Preco+"'>"+
                                                            "</td>"+
                                                        "</tr>";
                                            }
                                        var rodape = "</tbody>"+
                                        "<tfoot>"+
                                            "<tr>"+
                                                "<td colspan='4'><button type='button' class='btn btn-sm btn-primary float-right'>Calcular</button></td>"+
                                            "</tr>"+
                                        "</tfoot>";

                    var tabela_completa = cabecalho + corpo + rodape;

                    $("#carregar_produto").html(tabela_completa);
                }
                else {
                    var mensagem = "<div class='alert alert-info mt-3' role='alert'>Nenhum produto encontrado</div>";
                    $("#carregar_produto").html(mensagem);
                } 
            },
            error: function() {
                var mensagem = "<div class='alert alert-danger mt-3' role='alert'>Erro</div>";
                $("#carregar_produto").html(mensagem);
            }
        });
    }

    /*carregar funcionários*/
    function carregarFuncionarios(){
        $.ajax({
            method: 'POST',
            url: '/Funcionario/ViewFunc',
            dataType: 'json',
            global: false,
            success: function (e) {
                for (var i = 0; i < e.length; i++) {
                    $("#funcionario_adicionar_orcamento").append("<option value=" + e[i].IdFuncionario + ">" + e[i].Nome + "</option>");
                }
            },
            error: function () {
                $("#funcionario_adicionar_orcamento").append("<option value=''>Erro ao carregar os funcionários</option>");
            }
        });
    }

    /*carregar funcionários*/
    function carregarClientes(){
        $.ajax({
            method: 'POST',
            url: '/Cliente/ViewCli',
            dataType: 'json',
            global: false,
            success: function (e) {
                for (var i = 0; i < e.length; i++) {
                    $("#cliente_adicionar_orcamento").append("<option value=" + e[i].IdCliente + ">" + e[i].Nome + "</option>");
                }
            },
            error: function () {
                $("#cliente_adicionar_orcamento").append("<option value=''>Erro ao carregar os clientes</option>");
            }
        });
    }
</script>