<html>
    <body>
        Orçamento digital
        <a class="btn btn-primary" href="/produto">Registrar Produto</a>
        <a class="btn btn-primary" href="/funcionario">Registrar funcionario</a>
    </body>
</html>